<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Choose your Path</title>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link rel="stylesheet" href="./0_ch00Z3-uR-PASS-style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
  <div class="header-wrap">
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br /><br />
<h1>Choose your Path</h1>
  </div>
</div>

<br/><br/>

<div style="display: inline-block; width: 30px"></div>

<div class='wrapper'>
  <div role='button' class='retro-btn danger'>
    <a class='btn' ref="/dev/challenges/0_t3rm1n4l.html">
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label="Dev">
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<div style="display: inline-block; width: 30px"></div>

<div class='wrapper'>
  <div role='button' class='retro-btn warning'>
    <a class='btn' ref="/ops/challenges/0_t3rm1n4l.html"> 
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label="Ops">
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<div style="display: inline-block; width: 30px"></div>

<div class='wrapper'>
  <div role='button' class='retro-btn success'>
    <a class='btn' ref="/sec/challenges/0_t3rm1n4l.html"> 
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label="Sec">
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<!-- <div style="display: inline-block; width: 30px"></div> -->
<!-- 
<div class='wrapper'>
  <div role='button' class='retro-btn info'>
    <a class='btn' ref="/data/challenges/0_t3rm1n4l.html"> 
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label="Data">
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div> -->
<!-- partial -->
  <script  src="./01-ch00Z3-uR-PASS-script.js"></script>

</body>
</html>
