<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Find me if you can</title>
  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', path='/11-wh3r3_15_4z1z-style.css') }}">

</head>
<body>

<h1>Retrieve the fifth element in this maze</h1>
<!-- AZIZ LUMIERE -->
<h2>Thanks to our hacking team we know the file is a text file and contains the string "Flag" in his name</h2>
<h2>The key to read me is my name in lowercase</h2>

<div class="container">     
    <div class="content">
      <a href="{{ url_for('static', path='/11-wh3r3_15_4z1z-DS.zip') }}" class="btn left">
        <span class="left icon icon-cloud-download"><span class="slant-left"></span></span>
        <span class="right title">Download Now</span>
      </a>  
    </div>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
</html>